[submodule "formulas/vim"]
	path = formulas/vim
	url = https://github.com/saltstack-formulas/vim-formula
[submodule "formulas/users"]
	path = formulas/users
	url = https://github.com/saltstack-formulas/users-formula.git
[submodule "formulas/openssh"]
	path = formulas/openssh
	url = https://github.com/saltstack-formulas/openssh-formula.git
[submodule "formulas/git"]
	path = formulas/git
	url = https://github.com/saltstack-formulas/git-formula.git
[submodule "formulas/screen"]
	path = formulas/screen
	url = https://github.com/saltstack-formulas/screen-formula.git
